*{
    padding: 0;
    margin: 0;
}

body {
    background: url(background.jpg);
	background-size: 100%;
}

.wrapper-top-menu {
    margin: 0;
    width: auto;
    height: 25vh;
}

a.li_top_menu {
    text-decoration: none;
    position:relative;
	color: #1E90FF;
	padding:0px 15px 0px 15px;
	font-size:52px;
    font-family: Classica One;
    transition: 1.6s;
}

a.li_top_menu:hover {
    color:orangered;
    transition: 1.6s;
}

li {
    list-style-type:none; 
	display:inline;
}

.ul_top_menu {
    position: absolute;
    top: 7%;
    left: 40%;
}

.left {
    width: 100%;
    height: 50vh;
}

.input-message {
    width: 98%;
    height: 280px;
    resize: none;
    margin-top: 20px;
    border: 1px solid #1E90FF;
    padding-bottom: 0;
    font-family: Classica one;
    font-size: 18px;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202020 ;
    color: #00CC33;
}

.input-message:focus {
    outline: none;
}

.inc-mes-size {
    width: auto;
    height: 300px;
    padding-left: 4%;
	padding-right: 4%;
	margin-left: 0%;
	margin-right: 0%;
}

.first-legend {
    font-size: 22px;
    font-family: Classica one;
    padding-top: 10px;
    color: #00CC33;
}

.form-write-massage {
    width: 98%;
    height: 80px;
    border: 1px solid #1E90FF;
    margin-top: -4px;
    padding: 0;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    resize: none;
    transition: 1.5s;
    background-color: #202020 ;
    color: #00CC33;
}

.form-write-massage:hover {
    border: 1px solid orangered;
    transition: 1.2s;
}

.form-write-massage:focus {
    outline: none;
}

.button-send-message {
    width: 150px;
    height: 40px;
    border: 2px solid #1E90FF ;
    font-family: Classica one;
    font-size: 18px;
    transition: 1.0s;
}

.button-send-message:hover {
    border: 2px solid orangered;
    transition: 1.0s;
}