*{
    padding: 0;
    margin: 0;
}

.font-wrapper {
    width: auto;
    background: url(lock.jpeg);
}

.wrapper {
    margin: 0;
    background:#000000;
    width: auto;
    height: 50vh;
    opacity: 0.9;
}

a.li_top_menu {
    text-decoration: none;
    position:relative;
	color: #A020F0;
	padding:0px 15px 0px 15px;
	font-size:32px;
    font-family: Classica One;
    transition: 1.6s;
}

a.li_top_menu:hover {
    color: #ffffff;
    transition: 1.6s;
}

li {
    list-style-type:none; 
	display:inline;
}

.ul_top_menu {
    position: absolute;
    top: 7%;
    left: 56%;
}

.centr {
    width: auto;
    height: 100vh;
    background: #000000;
    opacity: 0.9;
}

.footer-size {
    width: auto;
    height: 150px;
    background: #eeeeef;
}

.footer-text {
    padding-top: 70px;
    background: #eeeeef;
    width: auto;
    text-align: center;
    font-family: Classica One;
    font-size: 14px;
    color: #000000;
}

.hr {
    border: none;
    background: #A020F0;
    height: 1px;
}

.circle-position {
    width: 60%;
    height: auto;
    padding-left: 100px;
    padding-top: 60px;
}

.circle {
    width: 150px;
    height: 150px;  
    background: #eeeeef; 
    border-radius: 85px;
    border-color: #A020F0;
    float: left;
    margin-left: 60px;
    border: 10px solid #ffffff;
    transition: 1.4s;
    opacity: 0.8;
}

.circle:hover {
    border: 10px solid #A020F0;
    transition: 1.4s;
}

.current_date {
    width: auto;
    height: 100px;
    font-size: 32px;
    font-family: Classica One;
    color: #A020F0;
    padding-left: 5%;
    padding-top: 18%;
}