*{
    padding: 0;
    margin: 0;
}

body {
    background: ghostwhite;
	background-size: 100%;
    opacity: 0.9;
}

.wrapper-top-menu {
    margin: 0;
    width: auto;
    height: 6vh;
}

li {
    list-style-type:none; 
	display:inline;
}

.left {
    width: 100%;
    height: 50vh;
}

.input-message {
    width: 1000px;
    height: 280px;
    resize: none;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #1E90FF;
    padding-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: lighter;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: ghostwhite;
    color: black;
    overflow: auto;
}

.input-message:focus {
    outline: none;
}

.inc-mes-size {
    width: auto;
    height: 300px;
    padding-left: 4%;
	padding-right: 4%;
	margin-left: 0%;
	margin-right: 0%;
	position: relative;
}

.first-legend {
    font-size: 18px;
    font-family: Century Gothic;
    padding-top: 10px;
    color: #1E90FF;
    margin-left: 2%;
}

.form-write-massage {
    width: 1000px;
    height: 80px;
    border: 1px solid #1E90FF;
    margin-top: -4px;
    padding: 0;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    resize: none;
    transition: 1.5s;
    background-color: ghostwhite;
    color: #1E90FF;
}

.form-write-massage:hover {
    border: 1px solid orangered;
    transition: 1.2s;
}

.form-write-massage:focus {
    outline: none;
}

.button-send-message {
    width: 150px;
    height: 40px;
    border: 2px solid #1E90FF ;
    font-family: Century Gothic;
    font-size: 18px;
    transition: 1.0s;
    margin-left: 2%;
    margin-bottom: 1%;
}

.button-send-message:hover {
    border: 2px solid orangered;
    transition: 1.0s;
}

.form-send {
    margin-bottom: 1px;
    margin-left: 2%;
    margin-right: 2%;
}